@tailwind base;
@tailwind components;
@tailwind utilities;
/********************** Main CSS *************/
html {
    font-family: 'Inter', sans-serif !important;
}

body {
    margin: 0;
}

body.no-scroll {
  height: 0 !important;
}


/********************** Header CSS *************/

.sf-input input {
  border: 1px solid white !important;
  height: 65% !important;
  top: 0px !important;
  position: relative !important;
}
